* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}

.logo-menu {
    width: 170px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

nav p {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

nav p:hover {
    color: #ff6900;
}

nav span {
    color: #ff6900;
}

#inicio {
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
    gap: 40px;
}

#texto h1 {
    font-size: 65px;
    line-height: 0.9;
    color: white;
    margin-bottom: 30px;
}

#texto h1 strong {
    color: #ff6900;
}

#texto h1::before {
    content: "";
    display: block;
    width: 110px;
    height: 4px;
    background-color: #ff6900;
    margin-bottom: 25px;
}

#texto p {
    font-size: 22px;
    line-height: 1.6;
    color: #eeeeee;
}

#logo-principal {
    width: 40%;
    display: flex;
    align-items: center;
}


#logo-principal img {
    width: 1000px;
    height: auto;
}